
<h3>User ###USER_INFO###</h3>

<form action="/shop2/index.php?act=manage_user" method="POST" 		autocomplete="off" >
				
	<input type="hidden" 	name="id" 		value="###id###" 		autocomplete="off" />
	
	<label>Username:</label>
	<input type="text" 		name="username" value="###username###" 	autocomplete="off" /><br>
	<label>PW:</label>
	<input type="text" 		name="password" value="###password###" 	autocomplete="off" /><br>
	
	<input type="submit" 	name = "send" 	value="speichern" />
			
</form>

