
<h3>Art_2_War ###ART2WAR_INFO###</h3>

<form action="/shop2/index.php?act=manage_art2war" method="POST" 		autocomplete="off" >
				
	<input type="hidden" 	name="id" 		value="###id###" 		autocomplete="off" />
	
	<label>Art_ID:</label>
	<input type="text" 		name="art_id" 		value="###art_id###" 	autocomplete="off" /><br>
	<label>War_ID:</label>
	<input type="text" 		name="war_id" 		value="###war_id###" 	autocomplete="off" /><br>
	<label>Menge:</label>
	<input type="text" 		name="menge" 		value="###menge###" 	autocomplete="off" /><br>
	
	<input type="submit" 	name = "send" 	value="speichern" />
			
</form>