
<h3>Artikel ###ARTIKEL_INFO###</h3>

<form action="/shop2/index.php?act=manage_artikel" method="POST" 		autocomplete="off" >
				
	<input type="hidden" 	name="id" 		value="###id###" 		autocomplete="off" />
	
	<label>Name:</label>
	<input type="text" 		name="name" 		value="###name###" 	autocomplete="off" /><br>
	<label>Beschreibung:</label>
	<input type="text" 		name="beschreibung" value="###beschreibung###" 	autocomplete="off" /><br>
	<label>Bild:</label>
	<input type="text" 		name="bild" 		value="###bild###" 	autocomplete="off" /><br>
	<label>Lagerbestand:</label>
	<input type="text" 		name="lagerbestand" value="###lagerbestand###" 	autocomplete="off" /><br>
	
	<input type="submit" 	name = "send" 	value="speichern" />
			
</form>